data/*
.pth.tar
*checkpoint.pth
*.pt
__pycache__
artifacts/
wandb/

*.egg-info
*.tar
*.zip
*.bin
*.npz

mlruns
notebooks/*.jpg
*.jpg
*.jpeg
*.png
*.tiff
*.tif
*.webp
*.gif
*.json
*.mat
*.csv
# *.txt

*path.txt

.venv
.idea
local_scripts
logs

venv
datasets/final