albucore
albumentations
alembic
annotated-types
anyio
asttokens
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
comm
contourpy
cryptography
cycler
databricks-sdk
debugpy
decorator
docker
executing
fastapi
filelock
Flask
fonttools
fsspec
gdown
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
greenlet
gunicorn
h11
hf-xet
huggingface-hub
idna
importlib_metadata
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
lightning-utilities
Mako
MarkupSafe
matplotlib
matplotlib-inline
mlflow
mlflow-skinny
mlflow-tracing
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python-headless
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pandas
parso
pathology_foundation_models
pexpect
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PySocks
pytest
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rsa
safetensors
scikit-learn
scipy
setuptools
simsimd
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
stringzilla
sympy
threadpoolctl
timm
tokenizers
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
Werkzeug
wheel
widgetsnbextension
zipp
